{% extends "BuyNow/base.html" %}
{% load crispy_forms_tags %}
{%block content%}

<article class="media content-section">
    <div class="media-body">
        <small class="text-muted" style="text-transform: capitalize;">Submission Date: {{EmailValidations.created_at}}</small>
        <h2><a class="article-title" href="#">{{EmailValidations.taskName}}</a></h2>
        <p class="article-content">{{EmailValidations.rcpt_email}}</p>
<!--        <div class="ImageCss">-->
<!--            <img class="Product_image" style=" height: 262px;-->
<!--                        width: 300px;-->
<!--                        margin-left: 50%;-->
<!--                        margin-right: 20%;-->
<!--                        margin-bottom: 16px;" src={{Product.image.url}}-->
<!--            >-->
<!--        </div>-->
        <div style= "display: flexbox ;justify-content: space-between; padding-top: 5px;">
            <a class="mr-2" href="#" style="padding-right: 60%;">Submitted by  {{EmailValidations.user}}</a>
            <button class="button" type="submit" style="text-decoration: none">Buy Now</button>
        </div>
        <div style="padding-left: 78%;">
            <a class="button1" href="{%url 'update' Product.id%}">Edit</a>
        </div>
        <div style="padding-left: 78%;">
            <a class="button1" href="{%url 'delete' Product.id%}">Delete</a>
        </div>
    </div>
    <br>
    <br>



    </article>

{% endblock %}