{% extends "BuyNow/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

    {% block content %}
        <h2>Sign up</h2>
        <form method="POST">
            {%csrf_token%}
            <fieldset class="form-group">
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-info" type="submit" value="Sign Up">
            </div>
        </form>
        <div class="border-top pt-3"> <small class="text-muted">Already have an account?</small>
            <a class="ml-2" style="text-decoration:none ;" href="{%url 'login'%} "> Login!</a>
        </div>
        {% endblock %}
